@tailwind base;
@tailwind components;
@tailwind utilities;

.flashcard {
  font-size: 200px;
}

.flashcard-word {
  font-size: 100px;
}

.flashcard-shape,
.flashcard-color {
  height: 200px;
  width: 200px;
}

.flashcard-description {
  font-size: 60px;
}

.flashcard-lowercase {
  font-size: 100px;
}

svg g {
  transform-origin: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate_back {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes sway {
  100% {
    transform: translateX(10%);
  }
}

@keyframes drop {
  100% {
    transform: translateY(45%);
  }
}

@keyframes rise {
  100% {
    transform: translateY(-20%);
  }
}

@keyframes blob_one {
  100% {
    transform: rotate(-360deg) translate(-12.5%, -12.5%);
  }
}

@keyframes blob_two {
  100% {
    transform: rotate(-360deg) translate(12.5%, -12.5%);
  }
}

@keyframes blob_three {
  100% {
    transform: rotate(-360deg) translate(-12.5%, 12.5%);
  }
}

@keyframes blob_four {
  100% {
    transform: rotate(-360deg) translate(-12.5%, -12.5%);
  }
}
