@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev::before,
.slick-next::before {
  @apply hidden;
}

.flashcard {
  font-size: 200px;
}

.flashcard-word {
  font-size: 100px;
}

.flashcard-description {
  font-size: 60px;
}

@media (min-width: 600px) {
  .slick-prev::before,
  .slick-next::before {
    @apply block text-black text-3xl;
  }
}
