@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
  @apply leading-none m-0 p-0;

  font-size: 400px;
}

.item-word {
  @apply leading-snug;

  font-size: 100px;
}

@media (min-width: 600px) {
  .item {
    font-size: 600px;
  }

  .item-word {
    font-size: 200px;
  }
}
